<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Product</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Shop</a></li>
                    <li><a href="/add-product">Add Product</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <form action="/add-product">
                <input type="text" name="title" />
                <button type="submit">Add Product</button>
            </form>
        </main>
    </body>
</html>
